<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seu.wsn.uwData.mapper">
	<!-- 选择节点 -->
	<select id="selectUwData" parameterType="com.seu.wsn.Core.Pojo.UwData" resultType="com.seu.wsn.Core.Pojo.UwData">
		select * from tb_uwData where sourceId=#{sourceId}
	</select>
	
	<!-- 新增节点 -->
	<insert id="insertUwData" parameterType="com.seu.wsn.Core.Pojo.UwData">
		insert into tb_uwData(sourceId,targetId,nodeType,dataType,sendOrReceive,time,note) values(#{sourceId}, #{targetId}, #{nodeType}, #{dataType}, #{sendOrReceive}, #{time}, #{note})
	</insert>
	
	<!-- 更新节点信息 -->
	<update id="updateUwData" parameterType="com.seu.wsn.Core.Pojo.UwData">
		update tb_uwData set sourceId=#{sourceId}, targetId=#{targetId}, nodeType=#{nodeType},dataType=#{dataType},sendOrReceive=#{sendOrReceive},time=#{time},note=#{note} where sourceId=#{sourceId}
	</update>
	
	<!-- 删除节点 -->
	<delete id="deleteUwData">
		delete from tb_uwData 
	</delete>
	<delete id="deleteUwDataByTime" parameterType="com.seu.wsn.Core.Pojo.UwData">
		delete from tb_uwData where sourceId=#{sourceId}, time=#{time}, dataType=#{dataType}
	</delete>

	<!-- 获取节点列表 -->
	<select id="uwDataList"  resultType="com.seu.wsn.Core.Pojo.UwData">
		select * from tb_uwData
	</select>
</mapper>